.login-form {
    max-width: 400px;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  input{
    display: flex;
  }
  
  button[type="submit"] {
    width: 10%;
    margin-top: 20px;
  }