.container {
  display: flex;
  margin: 20px;
}

.category-sidebar {
  width: 200px;
  position: absolute;
  top: 71px;
  left: 20px;
  border-right: 1px solid #ccc;
  border-block-end: 1px solid #ccc;
  padding-right: 10px;
  height: calc(100vh - 40px);
  overflow-y: auto;
}


.category-sidebar {
  width: 200px;
  margin-right: 20px;
}

.category-content {
  flex: 1;
  margin-left: 198px;
}

.filter-selected-categories {
  margin-bottom: 20px;
}

.selected-categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.mat-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.mat-list-item {
  cursor: pointer;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card {
  margin: 10px;
  width: 250px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.mat-card-header img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 0;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-card-header img:hover {
  transform: translate(-50%, -50%) scale(2);
}

.mat-card-content {
  text-align: center;
}

.product-title {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
}

.product-title:hover::before {
  content: attr(title);
  position: absolute;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.product-price {
  margin-top: 10px;
  font-weight: bold;
}

.product-stock {
  margin-top: 10px;
  color: #4caf50;
  font-weight: bold;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.action-symbol {
  font-size: 24px;
  font-weight: bold;
  color: #1976d2;
  line-height: 0;
}

button.mat-icon-button {
  margin: 0 5px;
}

/* Styling for the "Add to Cart" button */
.in-stock-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  min-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-stock-button:hover {
  background-color: #45a049;
}

.filter-selected-categories {
  // margin-bottom: 20px;
  display: contents;
  position: absolute;
  top: 120px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;

  h3 {
    margin: 0 0 10px;
    margin-left: 60px;
  }

  .selected-categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    span {
      background-color: #e0e0e0;
      padding: 5px 10px;
      border-radius: 3px;
      margin: 0 5px 5px 0;
    }
  }
}
