.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.category-list {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.mat-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.mat-list-item {
  cursor: pointer;
  margin: 0 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 10px;
  width: 250px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* Adjusted height for a larger square */
  overflow: hidden; /* Ensure the image doesn't overflow */
  position: relative; /* Required for the absolute positioning of the image */
}

.mat-card-header img {
  width: 50%; /* Fill the header width */
  height: 50%; /* Fill the header height */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 0; /* Square shape */
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom */
  position: absolute; /* Absolute positioning */
  top: 50%; /* Center the image vertically */
  left: 50%; /* Center the image horizontally */
  transform: translate(-50%, -50%); /* Center the image */
}

.mat-card-header img:hover {
  transform: translate(-50%, -50%) scale(1.5); /* Zoom image on hover */
}

.mat-card-content {
  text-align: center;
}

.product-price {
  margin-top: 10px;
  font-weight: bold;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}
